@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: olive;
}

.header {
  padding: 20px;
  font-weight: 400;
  background-color: #006064;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);

  .header_title {
    text-align: center;
    font-size: 36px;
    color: rgba(255, 255, 255, 0.9);
    line-height: 36px;
  }

  .header_subtitle {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 5px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
    text-transform: lowercase;
  }
}

.searchbar {
  text-align: center;
  width: 100%;
  background-color: #428d90;
  border-bottom: rgba(158, 158, 158, 0.5);

  .searchbar_input {
    margin: 30px auto;
    width: 350px;
    background-color: #fafafa;
    font-size: 18px;
    padding: 10px 0;
    border: none;
    color: #276063;

    &:focus {
      outline: none;
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14),
        0 3px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.2) inset;
    }
  }
}
